*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    border: 0;
    padding:0;
    font-family: Arciform;
    font-size: 16px;
    background: rgb(255,112,122);
    background: linear-gradient(298deg, rgba(255,112,122,1) 12%, rgba(255,182,146,1) 43%, rgba(255,237,160,1) 100%);
}


@font-face {
    font-family: Alcubierre;
    src: url(../fonte/Alcubierre.otf);
}
@font-face {
    font-family: Arciform;
    src: url(../fonte/Arciform.otf);
    
}
.site {
    height: 100vh;
}
.corpo_contato {
    background: url(../img/moutains_contato.png) fixed no-repeat;
    height: 114%;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato {
        height: 90%;
        width: 90%;
}

.caixa_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 579px;
    width: 621px;
    border: 2px solid #000;
    border-radius: 80px 0 80px 0; 
    color: black;
    background-color: rgba(0,0,5,0.8);
    padding: 60px 28px;
    background: rgba(255,255,255,.3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.contato h1 {
    text-align: center;
    font-size: 32px;
   display: flex;
   justify-content: center;
   margin-bottom: 18px;
   color:white;
   font-family: Alcubierre;
   margin-top: -33px;
}

.informacoes label {
    font-weight: bold;
    font-family: Alcubierre;
    font-size: 22px;
    margin-bottom: 5px;
    color: #000;
}

.informacoes input {
    width: 100%;
    margin-bottom: 21px;
    background: transparent;
    border: 0;
    border-bottom: black 1px solid;
    font-family: Arciform;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

/* Comandos para mudar o placeholder sem alterar o value */

::-webkit-input-placeholder {
    color: #951C64;
    font: 12px;
 }
 
 :-moz-placeholder {
    color: #951C64;
    font: 12px;
 }
 
 ::-moz-placeholder {
    color: #951C64;  
    font: 12px;
 }
 
 :-ms-input-placeholder {  
    color: #951C64;  
    font: 12px;
 }

/* Fim dos comandos */


informacoes input:focus {
    outline: none;

}

.contato:hover {
    color: #0F0F0F;
}

#mensagem {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 507px;
    border-radius: 15px;

}

.contato button {
    width: 54%;
    border-radius: 27px;
    height: 31px;
    border: none;
    background-color:#EF3B60;
    color: white;
    margin-top: 16px;
    margin-left: 103px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arciform;
}
.contato button:hover {
    background-color: #951C64 ;
    transform: scale(0.95);
    box-shadow: 0 0 10px;
}

 #mensagemErro li {
    list-style: none;
    margin: 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    color: red;
 } 
