*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    border: 0;
    height: 100vh;
    padding:0;
    font-family: Arciform;
    font-size: 16px;
    background: rgb(255,112,122);
    background: linear-gradient(298deg, rgba(255,112,122,1) 12%, rgba(255,182,146,1) 43%, rgba(255,237,160,1) 100%);
}


@font-face {
    font-family: Alcubierre;
    src: url(../fonte/Alcubierre.otf);
}
@font-face {
    font-family: Arciform;
    src: url(../fonte/Arciform.otf);
    
}

.corpo_sobre {
    background: url(../img/moutains_sobre.jpg) fixed no-repeat;
    height: 112%;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa_sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#caixa_do_h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 734px;
    border: 2px solid #000;
    border-radius: 90px;
    color: black;
    background-color: rgba(0,0,5,0.8);
    padding: 60px 28px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    margin-bottom: 64px;
    margin-top: 104px;
    text-shadow: #fff 8px 6px 6px;
    
    
}

.coffee {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.imagem_perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

#descricao_sobre p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 266px;
    width: 89%;
    border: 2px solid #000;
    border-radius: 90px;
    color: black;
    background-color: rgba(0,0,5,0.8);
    padding: 60px 28px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    margin-top: 39px;
    font-size: 22px;
}

#descricao_sobre {
    display: flex;
    justify-content: center;
    align-items: center;
}

#coffee {
    display: flex;
    justify-content: center;
    margin-top: 29px;
}

#caixa_rede_social {
    display: flex;
    justify-content: center;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 36px;

}

.inicio  a{
    width: 12%;
    border-radius: 27px;
    height: 40px;
    border: none;
    background-color: #6467A4;
    color: white;
    text-transform: uppercase;
    font-family: Alcubierre;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


.inicio a:hover {
    background-color: #2F2635;
    transform: scale(0.95);
    box-shadow: 0 0 10px;
}

#caixa_rede_social {
    height: 80px;
    width: 100%;
}

#caixa_rede_social a {
    height: 60px;
    width: 60px;
    background-size: cover;
    margin: 10px;
}


.facebook_logo {
    background: url(../img/facebook.svg) no-repeat;
    
}

.twitter_logo {
    background: url(../img/twitter.svg) no-repeat;
   
}

.instagram_logo {
    background: url(../img/instagram.svg) no-repeat;
    
}